<div id="login-form">
<div class="container-fluid carousel-overlay text-xs-center">
  <!-- #F0626A -->
  <h1 id="logo" class = "logo-word">Bhaduli.</h1>
  <h3 id="tagline">Some awesome tagline.</h3>

    {{#if user.hasRegistered}}
    {{modal-box}}

    {{else}}

    {{popup-form id='reg-from' user=user}}
    {{popup-age id='popup-age' user=user}}
    {{login-component id="login" user=user}}

    {{button-couple param="#reg-from" login_id= "#login" createUser=(route-action 'createUser') loginUser=(route-action 'loginUser')}}
    {{/if}}


</div>
</div>
