<div id="about-profile margin-top-40">
<div class="card">
  <div class="card-block text-xs-center">
    <span><i class="fa fa-pencil-square-o icon-large pull-xs-left"></i>Basic Information </span>
  </div>
  <ul class="list-group">
  <li class="list-group-item font-heading">
    Name
    <span class="tag tag-default tag-pill pull-xs-right">{{model.name}}</span>
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">{{model.age}}</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">{{model.contact_number}}</span>
  Contact Number
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">{{model.dob}}</span>
  Date of Birth
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">{{model.current_city}}</span>
Current City
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">{{model.hometown}}</span>
Hometown
  </li>
</ul>
</div>

</div>
{{outlet}}
